body {
    color: white;
    background-color: black;
    margin: 0;
    font-family: 'Courier New', monospace;
}

.headerdiv {
    background-image: url("images/baner.png");
    position: relative;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}
/* ustawienia nagłowka i logo */
h1 {
    user-select: none;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}
.logo {
    position: relative;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    margin-top: 4px ;
}

.cytat{
    font-family: 'Courier New', monospace;
}

/* ustawienia menu nawigacyjnego */
.topnav {
    background-color: #6c2ddc;
    overflow: hidden;
    text-align: center;
    width: 100%;
    justify-content: center;
    display: inline-flex;
}
.topdiv {
    display: flex;
    width: 100%;
}

.topnav a {
    background-color: #6c2ddc;
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
    flex: 1 1 0px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #D53030;
    color: white;
}

/* main */
main{
    text-align: center;
}

/* ustawienia tabel */
table {
    background: #ffff3f;
    font-size: 18px;
    margin-left:auto;
    margin-right:auto;
    color: black;
    border: 1px solid #FFFFFF;
    width: 90%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}
table td, table th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
}
table thead {
    background: #7F00FF;
    border-bottom: 5px solid #FFFFFF;
}
table thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
    border-left: none;
}
table ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
table ul li{
    display: inline;
}
table ul li a{
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: #d53030;
}
table ul li a:hover {
    background-color: #ddd;
    color: black;
}
table tfoot{
    background-color: #D53030;
}

table tfoot a {
    color: #6c2ddc;
    text-decoration: none;
    padding: .2em 1em;
    width: 90%;
    height: auto;
}

/* ustawienia stopki */
footer{
    background-color: #6c2ddc;
    color: #FFFFFF;
    text-align: right;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0; margin: 0;
}

textarea {
    overflow: auto;
    width: 100%;
}

form {
    display: grid;
    grid-template-columns: 200px 300px 300px;
    gap: 1rem;
    margin-left: 25%;
}

form select,
form input[type="text"],
form input[type="number"],
form input[type="date"]{
    border: 2px solid #e7e765;
    color: #000000;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

label{
    text-align: left;
}
.form-button-submit
{
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: #27ae60;
    width: 90%;
    margin-bottom: 0.5rem;
}

.cancel{
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: #d53030;
    width: 90%;
    margin-bottom: 0.5rem;
}

.edit{
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    background-color: #0065ff;
    width: 90%;
    margin-bottom: 0.5rem;
}
/* form errory*/
.error-info{
    color: #e74c3c;
}
form input.error-input,
form select.error-input{
    border: 2px solid #e74c3c
}

form input[type="radio"]{
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    margin-right: 0.3rem;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #e7e765;
    color: #e7e765;
}

form input[type="radio"]:checked {
    background: radial-gradient(#6c2ddc 0%, #6c2ddc 40%, transparent 50%, transparent);
}

form input[type="radio"].error-input{
    border-color: #e74c3c;
    color: #e74c3c;
}

.error-input {
    font-size: 0.85em;
    line-height: 2.25rem;
    margin-top: 0.5em;
    color: #e74c3c;
}

.added{
    color: green;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #ffff3f;
    color: #6c2ddc;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #65fa1c;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #d53030;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

/* drugie menu */

.middlenav {
    background-color: #f6e200;
    color: black;
    overflow: hidden;
    text-align: center;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    padding: 5px;
}
.login {
    display: flex;
    width: 100%;
}

.loginForm{
    display: inline-block;
}